bin
obj
.vs
christianjodi.business/obj
christianjodi.business/bin
christianjodi.business/platforms

christianjodi.data/obj
christianjodi.data/bin
christianjodi.data/platforms

christianjodi.model/obj
christianjodi.model/bin
christianjodi.model/platforms

christianjodi/obj
christianjodi/bin
christianjodi/platforms
